.box {
    overflow: auto;
    height: 100%;
    padding: 24px;
    // display: flex;
    // justify-content: center;
    // flex-flow: wrap;

    background: rgb(77, 76, 75);

    .mycanvas {
        border: 1px solid #000;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        border-radius: 50%;
        // height: 400px;
        // width: 600px;
        background: rgb(141, 99, 99);
    }
}