.box {
    background-color: #00aeec;
    position: relative;
    overflow: hidden;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    .contents {
        z-index: 10;
        position: relative;
        padding: 4px;
    }

    &::after,
    &::before {
        content: "";
        background-color: #fff;
        display: block;
        width: 300%;
        height: 300%;
        position: absolute;
        right: -100%;
        border-radius: 47%;
        bottom: 12px;
        opacity: 1;
        animation: waverun 5s infinite;
        z-index: 5;
    }

    &::after {
        opacity: 0.5;
        bottom: 8px;
        border-radius: 45%;
        animation: waverun 4s infinite;
    }

    @keyframes waverun {
        0% {
            transform: rotate(0deg);
        }

        25% {
            transform: rotate(20deg);
        }

        50% {
            transform: rotate(0deg);
        }

        75% {
            transform: rotate(-20deg);
        }

        100% {
            transform: rotate(0deg);
        }
    }
}