.box {
    overflow: auto;
    height: 100%;
    padding: 24px;

    & [class="ant-table-tbody"] {
        background-color: rgb(211, 214, 214);
    }
}

.expandSpan {
    display: inline-block;
    width: 14px;
    margin-right: 4px;
}

.expandIcon {
    margin-right: 4px;
}

.myTable {
    :global {
        .ant-table-body {
            &::-webkit-scrollbar {
                /*滚动条整体样式*/
                width: 14px;
                /*高宽分别对应横竖滚动条的尺寸*/
                height: 14px;
                // padding: 2px;
                margin: 2px;
                padding: 2px;
            }

            &::-webkit-scrollbar-thumb {
                /*滚动条里面小方块*/
                border-radius: 10px;
                // -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
                background: #c4bfbf;
                width: 10px;
                margin: 2px;
                padding: 2px;
            }

            &::-webkit-scrollbar-track {
                /*滚动条里面轨道*/
                // -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
                border-radius: 14px;
                background: #fff;
                width: 10px;
                padding: 2px;
                margin: 2px;
            }

            tr {
                td {
                    padding: 11px;
                }
            }
        }

        .ant-table-cell-fix-left {
            background: rgb(187, 235, 14) !important;
        }
    }
}