.box {
    background-color: #f1f1f1;
    overflow: auto;
    height: 100%;
    padding: 24px;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    align-content: space-around;

    :global {
        .ant-card {
            box-shadow: 4px 4px 4px 0px #999;
        }

        .ant-card-body {
            overflow-wrap: break-word;
        }

        .ant-tooltip-inner {
            white-space: pre-line !important;
        }
    }

    .huanhang {

        white-space: pre-line !important;
    }
}

.expandSpan {
    display: inline-block;
    width: 14px;
    margin-right: 4px;
}

.expandIcon {
    margin-right: 4px;
}